body{
    background-color: lightgrey;
}

#slidecontainer{
    background-color: lightgrey;
    width: 20px;
    height:20px; 
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    width:30vw;
    height: 30vh;
    position: absolute;
    animation: moveX 3s linear 0s infinite alternate, moveY 5.3s linear 0s infinite alternate;
}
@keyframes moveX {
    from { left: 0; } to { left: 1000px;}
    }
 
  @keyframes moveY {
    from { top: 0; } to { top: 750px; }
    }
  