.backgroundimg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.overlaylogo {
  position: absolute;
  top:0;
  left:2.5%;
  height: auto;
  width: 200px;

}

.overlayscore {
    position: absolute;
    bottom:0;
    left:31.55%;
    height: auto;
    width: 500px;


}