body{
    background-color: floralwhite;
}

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:dimgray;
}

.center {
    display: block;
    text-align: left; 
    vertical-align: center;
    width: 25%;
  }

  h2{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color: dimgray;

}