body {
    background-color: snow;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 'Times New Roman', serif;
    height: auto;
  } 
  
  .logo {
    font-size: 200%;
    padding: 25px 10px;
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: bold;
  }

  nav {
    background-color: #000;
    padding: .5em;
    position: sticky;
    top: 0px;
    left: 0px;
  }
  
  nav ul {
    margin: 10;
    padding: 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }

  .feature {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    
}

h1{
  padding:50px;
  font-size: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font: bold;
}